@import url('https://fonts.googleapis.com/css?family=Neucha|Roboto|Ubuntu+Mono');

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
  font-family: 'Roboto', sans-serif;
}

li > p {
  margin-bottom: 0.2em;
}

p {
  margin-bottom: 0.6em;
}

.table-bordered, h1, h2, h3, h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

nav, h1, h2, h3, h4, h5, h6 {
    font-family: 'Neucha', cursive;
}

.command {
    font-family: 'Ubuntu Mono', monospace;
}

code, kbd, pre, samp {
    color: black;
    background: #f0f0f0;
    font-family: 'Ubuntu Mono', monospace;
    padding: 0.2em;
}

dt {
  margin-top: 1em;
}

pre {
    padding: 0.5em;
    margin: 1em;
    border: 1px solid #ccc;
}

blockquote {
    margin: 0 0 1em 1em;
    padding: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.container {
  width: auto;
  padding-top: 1em;
}
